.eventDetailBanner {
    background-image: url("/images/background-egamerz.jpg");
    display: block;
    height: 600px;
    width: 100%;
    background-color: black;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.eventDetailBody {
    width: 80%;
}

.detailsContainer {
    height: 492px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailsContainer h2 {
    font: 60px 'Rajdhani', sans-serif;
    color: white;
    font-weight: 700;
}

.tab {
    font-family: "Rajdhani", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff !important;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}


@media (max-width: 800px) {
    .tab{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .detailsContainer h2{
        font-size: 40px;
    }
    .tab {
        font-size: 12px;
    }
}
