.allMatchesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /*height: 100vh;*/
}

.allMatchesContainer h1,
.allMatchesContainer span{
  line-height: 0;
  font: 35px 'Rajdhani', sans-serif;
  font-weight: 700;
  color: white;
}

.date {
  color: #6b54b6;
  font-family: 'Rajdhani', sans-serif;
}

/*UPCOMING*/

.upcomingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcomingContainer h3{
  font-family: 'Poiret One', cursive;
  color: #ec38bc;
}

/*FINISHED*/

.finishedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finishedContainer h3 {
  font-family: 'Poiret One', cursive;
  color: #ec38bc;
}

/*CARDS */
.teamsContainer:first-child {
  margin-left: 0;
}

.teamsContainer {
  /*padding: 10px 0;*/
  display: flex;
  justify-content: center;
  background: #20132a;
}

.teamsContainer card:hover {
  border-radius: 0 50px 0 50px / 0 25px 3px 25px;
}

.nameCards {
  padding: 14px 90px 14px 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #20132a;
  color: white;
  font-weight: 600;
}

.allMatchesContainer h1 {
  display: flex;
  align-items: center;
}


/*MEDIA QUERIES */

@media (max-width: 750px) {
  .allMatchesContainer {
    flex-direction: column;
  }
  .teamsContainer {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .nameCards{
    padding: 14px 30px 14px 30px;
  }
  .nameCards h1 {
    font: 25px 'Rajdhani', sans-serif;
  }

}
